<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="JesKingDev\CloudWatchLogs\Client\CloudWatchLogsClient"/>
    <type name="JesKingDev\CloudWatchLogs\Handler\CloudWatch">
        <arguments>
            <argument name="client" xsi:type="object">JesKingDev\CloudWatchLogs\Client\CloudWatchLogsClient</argument>
            <argument name="group" xsi:type="string">TODO-groupName</argument> <!-- TODO pull group name from admin config and/or use envrionment variables -->
            <argument name="stream" xsi:type="string">TODO-logStreamName</argument> <!-- TODO pull log stream name from admin config and/or use environment variables -->
        </arguments>
    </type>
    <!-- TODO add docs for overriding a Logger's handler with the CloudWatch handler -->
    <!-- TODO add override for Magento Framework loggers so all Magento var/log/*.log output redirects to CloudWatch -->
</config>